body {
  background-color: #eee;
}
.box {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  width: 350px;
  padding: 2px;
  text-align: center;
  margin-left: 20px;
  margin-top: 18px;
  background-color: #fff;
  transition: 0.3s;
}
.red {
  border-left: solid 3px red;
}
.green {
  border-left: solid 3px green;
}
.blue {
  border-left: solid 3px blue;
}
.red:hover {
  transform: scale(1.05);
}
.green:hover {
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}
.blue:hover {
  background-color: rgba(0,0,255,0.1);
}
/* Este código no es como el del curso, pero tiene los cambios más destacables*/
