body {
  background-color: #efedea;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block;
  background-color: #474749;
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
}
li {
  float:left;
}
a {
  padding: 15px;
  color: white;
  text-decoration: none;
  font-family: Chandas;
  font-weight: 100;
}
li:hover {
  background-color: #232325;
}
.active {
  background-color: #c75e5e;
}
.active:hover {
  background-color: #582a2a;
}
.content {
  margin-top: 75px;
  font-family: Lohit Telugu;
  font-size: 14pt;
}
.content h1 {
  text-align: center;
  font-family: Manjari;
  font-weight: 100;
  padding: 0px;
}
.content p {
  padding-left: 10px;
}
