body {
  background-color: #eee;
}
.grid {
  display: grid;
  grid-template-areas: "header header"
                       "content sidebar"
                       "footer footer";
  grid-template-rows: 150px 1fr 100px;
  grid-template-columns: 1fr 200px;
  grid-auto-rows: 140px;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: stretch;
}
.header {
  grid-column: col-inicio / col-fin 3;
  grid-row: row-inicio / row-fin 3; 
}
.red {
  background-color: red;
}
.item-1 {
  align-self: center;
  justify-self: center;
}
