ul { 
    list-style-type: none; 
    background-color: white; 
    border: solid 1px #ddd; 
    border-radius: 4px; 
    padding-left: 0px; 
} 
li { 
    border-bottom: solid 1px #ddd; 
    padding: 15px; 
}