body { 
    background-color: #eee; 
} 
ul { 
    list-style: none; 
    margin: 0; 
    padding: 0px; 
    overflow: hidden; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: #333; 
    font-family: Calibri; 
    font-weight: 100; 
} 
li { 
    float: left; 
} 
li a { 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px; 
    text-decoration: none; 
} 
li:hover { 
    background-color: rgba(0,0,0,0.3); 
} 
.active { 
    background-color: #4CAF50; 
} 
.content { 
    margin-top: 50px; 
}