body {
  background-color: #eee;
}
.grid {
  display: grid;
  grid-template-areas: "header header"
                       "content sidebar"
                       "footer footer";
  grid-template-rows: 150px 1fr 100px;
  grid-template-columns: 1fr 200px;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}

.header {
  grid-column: col-inicio / col-fin 3;
  grid-row: row-inicio / row-fin 3; 
}
